<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: white;
      }

      body {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
       
        /* background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
        /* background: rgb(2, 0, 36);
        background: linear-gradient(
          357deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(9, 9, 121, 1) 35%,
          rgba(0, 212, 255, 1) 100%
        ); */ 
        /* background: url(image/bg.jpg);
        /* background-image: url('./image/bg.jpg'); */
        background: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?q=80&w=2050&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
        }

      .container {
        min-width: 400px;
        min-height: 400px;
        padding: 30px;
        border: 2px solid rgb(87, 87, 227);
        border-radius: 10px;
        /* box-shadow: 0px 0px 12px 3px black; */
        box-shadow: inset 0px 0px 12px 3px black;
        backdrop-filter: blur(15px);
      }

      h1 {
        text-align: center;
        padding: 45px;
      }

      .form-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }

      .list {
        flex: 1;
        outline: none;
        padding: 15px;
        padding-left: 25px;
        background-color: transparent;
        border: 2px solid rgb(87, 87, 227);
        border-radius: 30px;
        font-size: 16px;
        margin-right: 10px;
      }

      .list::placeholder {
        color: white;
      }

      .btn-sub {
        border: none;
        outline: none;
        background: rgb(87, 87, 227);
        border-radius: 30px;
        font-size: 16px;
        padding: 15px;
        cursor: pointer;
      }

      .task-box .tasks {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(98, 98, 236, 0.484);
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px 0;
        border: 1px solid rgb(36, 36, 250);
      }

      .tasks li {
        width: 100%;
        padding: 0px 15px ;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .tasks button {
        width: 80px;
        height: 30px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        

        &.dlt{
          background: rgba(232, 69, 69, 0.618);
        }

        &.edt{
          background: rgb(255, 198, 92);
          margin: 0px 5px;
        }
      }
    .task-box{
      height: auto;
      width: 100%;

    }
    .action{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
    }



    </style>
  </head>
  <body>
    <div class="container">
      <h1>To-Do List</h1>

      <form action="/insert" method="post" class="form-container">
        <!-- <label for="list">Task:</label> -->
        <input
          type="text"
          name="task"
          class="list"
          placeholder="Enter Your Task"
          required
        />
        <input type="submit" class="btn-sub" />
      </form>

      <div class="task-box">
        <% data.map(e => { %>
        <ul class="tasks">
          <li>
            <h3><%= e.task %></h3>
            <div class="action">
              <a href="/deleteList?id=<%= e.id %>">
                <button class="dlt">Delete</button>
              </a>
              <a href="/editList?id=<%= e.id %>">
                <button class="edt">Edit</button>
              </a>
            </div>
            
          </li>
        </ul>
        <% }) %>
      </div>
    </div>
  </body>
</html>
